.BtnCreate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px / 2);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(144deg, #c8c4cb, #59585e 50%, #f7f8f8);
}
.signCreate {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.textCreate {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.BtnCreate:hover {
  width: 125px;
  transition-duration: 0.3s;
}

.BtnCreate:hover .signCreate {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 15px;
}
/* hover effect button's text */
.BtnCreate:hover .textCreate {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 15px;
}
/* button click effect*/
.BtnCreate:active {
  transform: translate(2px, 2px);
}
